html {
  background-color: #ecf0f1;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #95a5a6;
  content: "";
  width: 200px;
  margin: 0 auto;
  margin-top: 20px;
}

.App {
  text-align: center;
}

.UserButtons {
  padding-bottom: 5px;
}

.DisplayUsers {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
